/* General formating */
html, body {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #232322;
	background-image: url("/images/background.png");
	background-repeat: repeat;
	font-family: 'Josefin Sans', sans-serif;
}

/* Console that appears at the bottom of the screen. */
#logbar {
	position: absolute;
	width: 100%;
	height: <?php echo $LOG_BAR_HEIGHT; //esc:?>;
	bottom: 0;
	overflow: auto;
	
	/* Log settings */
	color: #080;
	background-color: rgba(0,0,0,0.8);
	font-family: 'Ubuntu Mono', monospace;
	border-top: 1px solid #777;
}
#console {
	margin: 5px;
}
#js_consolebottom {
	display: none;
	position: fixed;
	bottom: 0;
	right: 36px;
	width: 200px;
	height: 24px;
	background-color: rgba(0,0,0,0.5);
	color: #999;
	text-align: center;
	text-decoration: none;
	border: <?php echo $SEPERATION_BORDER; //esc:?>;
	border-bottom: none;
}

/* Logo at the top of the Navigation Bar */
#logo {
	width: 100%;
	display: block;
}
#logowrapper {
	padding: 10px;
	margin: 20px 0;
}
#name {
	padding: 10px 0;
	margin: 0;
	
	/* Settings for name/announcement */
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}

/* Navigation bar */
#sidebar {
	width: <?php echo $NAV_BAR_WIDTH; //esc:?>;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
	
	/* Sidebar settings */
	background-color: #303030;
	border-right: 1px solid #777;
}
#navigation a {
	width: 100%;
	height: <?php echo $NAV_LINK_HEIGHT; //esc:?>;
	line-height: <?php echo $NAV_LINK_HEIGHT; //esc:?>;
	display: block;
	text-align: center;
}
#navigation a:hover {
	background-color: #222;
}
#navigation a span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
	
	/* Decoration for sidebar */
	font-size: 18px;
	text-decoration: none;
	color: #CCC;
}

#contentscroller {
	position: absolute;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	bottom: <?php echo $LOG_BAR_HEIGHT; //esc:?>;
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
}
#content {
	height: 100%;
}

.bar {
	min-width: 350px;
	max-width: 400px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
	white-space: normal;
		
	/* General bar settings */
	background-color: rgba(0,0,0,0.2);
	border-right: 1px solid #777;
}

.title {
	background-color: #000;
	padding: 10px 0 10px 20px;
	border-bottom: <?php echo $SEPERATION_BORDER; //esc:?>;
}
.title h1 {
	margin: 0;
	padding: 0;
	color: #EEE;
}
.subtitle {
	background-color: #222;
	padding: 10px 10px 10px 20px;
}
.subtitle h2 {
	margin: 0;
	padding: 0; 
	color: #CCC;
	font-size: 24px;
	font-weight: bold;
}
.subtext p {
	margin: 6px 0;
	color: #999;
}

.arrow {
	text-decoration: none;
	color: #EEE;
	float: right;
	font-size: 16px;
}
.arrow:before{
	content: ">";
}
.object {
	display: block;
	padding: 10px 10px 10px 20px;
	border-bottom: <?php echo $SEPERATION_BORDER; //esc:?>;
	text-decoration: none;
}
.object h1 {
	margin: 0;
	padding: 0;
	color: #EEE;
	font-size: 16px;
}

.create {
	background-image: linear-gradient(to top, rgba(0,92,11, 0.5) 0%, rgba(0,148,17, 0.7) 100%);
}
.create:hover {
	background-image: linear-gradient(to top, rgba(0,92,11, 0.7) 0%, rgba(0,148,17, 0.9) 100%);
}
.destroy {
	background-image: linear-gradient(to top, rgba(92,11,0, 0.5) 0%, rgba(148,17,0, 0.7) 100%);
}
.destroy:hover {
	background-image: linear-gradient(to top, rgba(92,11,0, 0.7) 0%, rgba(148,17,0, 0.9) 100%);
}

.selectable {
	background: rgba(85,85,85,0.3);
}
.selectable:hover {
	background: rgba(85,85,85,0.6);
}

.query {
	background: rgba(255,191,0,0.2);
}
.query:hover {
	background: rgba(255,191,0,0.4);
}

.editor {
	padding: 10px;
	border-bottom: <?php echo $SEPERATION_BORDER; //esc:?>;
}
.editor select {
	display: inline-block;
	padding: 5px;
	margin: 3px 0;
	width: 160px;
	border: none;
	border-bottom: solid 4px #c9c9c9;
}
.editor select:focus,
.editor select.focus {
	border-bottom: solid 4px #1B96FE;
	transition: border-bottom 0.3s;
}
.editor label {
	display: inline-block;
	width: 150px;
	color: #EEE;
}
.editor input[type="checkbox"] {
	margin: 10px 0;
}
.editor input[type="radio"] {
	margin: 3px 0;
}
.editor input[type="text"],
.editor input[type="number"] {
	display: inline-block;
	padding: 5px;
	margin: 3px 0;
	width: 150px;
	border: none;
	border-bottom: solid 4px #c9c9c9;
}
.editor input[type="text"].full {
	width: 100%;
	box-sizing: border-box;
}
.editor input[type="text"]:focus,
.editor input[type="text"].focus,
.editor input[type="number"]:focus,
.editor input[type="number"].focus {
	border-bottom: solid 4px #1B96FE;
	transition: border-bottom 0.3s;
}
.editor input[type="submit"] {
	display: block;
	padding: 15px 32px;
	margin: auto;
	border: none;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #1B96FE;
	font-size: 16px;
}
.editor input[type="submit"]:focus,
.editor input[type="submit"].focus,
.editor input[type="submit"]:hover {
	background-color: #64B8FC;
	transition: background-color 0.3s ease;
}
.monospace {
	font-family: 'Ubuntu Mono', monospace;
	display: inline-block;
	font-weight: 400;
}